*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
.scroll{
    position: fixed;
    bottom: 80px;
    right: 50px;
    opacity: 0;
    transition: all .4s;
}
.scroll.scrollactive{
    opacity: 1;
}
.scroll2{
    background: #9ABD3D;
    padding: 15px 16px;
    text-align: center;
    justify-content: center;
    border-radius: 50%;
}
.scroll3{
    color: #FFFFFF;
    font-size: 20px;
    
}
.searchboxdiv{
    display: flex;
    padding: 10px 200px;
    background-color: #4f4f4fe7;
}
.searchbox{
    width: 100%;
    padding: 10px 20px;
    outline: none;
    border: none;
    background-color: #4f4f4f70;
    color: #FFFFFF;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    border-radius: 10px;
}
.searchbox::placeholder{
    color: #9ABD3D;
}
#searchmark{
    color: #9ABD3D;
    font-size: 22px;
    cursor: pointer;
    margin-left: 10px !important;
    justify-content: center;
    margin: auto 0;
}
.socialnav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 25px 0px;
    gap: 60%;
    /* width: 1440px; */
    width: 100%;
    height: 44px;
    background: #0081AB;
    
}
.info{
    /* width: 20%; */
    height: 18px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-left: -10px;
}
.socialmedia{
    /* width: 10%; */
    height: 24px;
    flex: none;
    order: 5;
    flex-grow: 0;
    display: flex;
}
.facebook1, .twitter1, .linkedin1, .instagram1{
    background-color: white;
    color: #0081AB;
    padding: 3px 8px;
    text-align: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 11px;
    font-weight: 800;
    margin: 0 5px;
    cursor: pointer;
}
.brandlogo{
    display: flex;
    margin: 20px 120px;
    padding: 5px;
}
.logomain{
    width: 264px;
    height: 85px;
}
.sidetext{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    margin-left: 680px !important;
    text-align: center;
    margin: auto 0;
}
.navbar{
    background-color: #9ABD3D !important;
    color: #FFFFFF !important;
    width: 100%;   
}
.mainnav{
    position: sticky !important;
    top: 0px !important;
}
.nav-link{
    color: #FFFFFF !important;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    margin: 0 50px;
    text-align: center;
    letter-spacing: 0.5px;
}
.dropdown-menu{
    background-color: #9bbd3d;
    border: 0 !important;
    padding: 0;
}
.dropdown-item{
    color: #FFFFFF !important;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    text-align: center;
    letter-spacing: 0.5px;
    padding: 10px 40px;
}
.dropdown-item:hover{
    color: #000000 !important;
}
.container-fluid{
    margin: 0 200px !important;
}
#active{
    border-bottom: 5px solid #0081AB;
    /* width: 100px; */
    margin-bottom: -15px;
}
.f3div{
    background: #0081AB;
    border-radius: 20px;
    height: 100px;
    text-align: center;
    margin-top: -45px !important;
    position: relative;
    margin: 0 230px;
}
.f3inner{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    color: #FFFFFF;
    padding-top: 30px;
}
.frame4{
    /* margin-bottom: 50px; */
    margin-top: 100px;
    margin-right: 100px;
    margin-left: 160px;
}
.f4img1{
    width: 404px;
    height: 530px;
    background: #0081AB;
    border-radius: 20px;
}
.f4img2{
    position: relative;
    margin-top: -510px;
    margin-left: 15px;
}
.imgef42{
    border-radius: 20px;
}
.f4btn{
    background-color: #9ABD3D;
    border: 2px solid #9ABD3D;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    letter-spacing: 0.02em;
    border-radius: 10px;
    margin-top: 20px;
}
.f4btn:hover{
    background-color: white;
    color: #9ABD3D;
}
.bluespan{
    color: #0081AB;
}
.greenspan{
    color: #9ABD3D;
}
.f4body{
    color: #000000;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 1px;
}
.f4body1{
    color: #000000;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    margin-top: -10px;
    letter-spacing: 0.5px;
}
.f4head{
    color: #0081AB;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 40px;
}
.f4text{
    text-align: left;
}
.divider1{
    border-bottom: 2px solid #0081AB;
    margin-top: 80px !important;
    margin-bottom: 20px !important;
    margin-left: 100px;
    margin-right: 100px;
}
.f5head{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    text-align: center;
    margin-top: 40px;
}
.f5text{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #000000;
    text-align: center;
    width: 100%;
    /* margin: 0 auto !important; */
}
.frame6{
    background-color: #9ABD3D;
    height: 414px;
    width: 100% !important;
    /* overflow: hidden; */
    margin-top: 150px;
    padding: 0 130px;
    /* position: relative; */
}
.frame7{
    background-color: #0081AB;
    height: 414px;
    margin-bottom: 50px;
    width: 100% !important;
    /* overflow: hidden; */
    margin-top: 150px;
    padding: 0 130px;
}

.divider2{
    border-bottom: 2px solid #0081AB;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 40px;
}
.extradiv{
    /* margin-right: 45%; */
    margin-left: 48%;
    position: relative;
    margin-bottom: -30px;
}

.divider3{
    border-bottom: 2px solid #0081AB;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 40px;
}
.extradiv3{
    /* margin-right: 45%; */
    margin-left: 48%;
    position: relative;
    margin-bottom: -30px;
}
.f6imgs{
    width: 400px;
    height: 342px;
    box-shadow: 0px 4px 20px 2px rgba(0, 0, 0, 0.010);
    border-radius: 10px;
    /* text-align: center; */
}
.f61text,.f62text,.f63text,.f71text,.f72text,.f73text{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    /* text-align: center; */
    color: #FFFFFF;

}
.f6one{
    text-align: center;
    /* position: absolute; */
    margin-top: -60px;
}
.f6two{
    text-align: center;
    margin-top: 100px;
}
.f6three{
    text-align: center;
    margin-top: -60px;
}
.f7one{
    text-align: center;
    margin-top: -60px;
}
.f7two{
    text-align: center;
    margin-top: 100px;
}
.f7three{
    text-align: center;
    margin-top: -60px;
}

.dividersec2{
    margin-top: 100px;
}

.frame8{
    overflow: hidden;
    margin: 70px 130px 60px 140px;
}
.f8head{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    margin: 40px 0;
    line-height: 45px;
}
.f8text{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #000000;
    line-height: 30px;
    margin-bottom: 40px;

}
.f8btn11{
    text-align: left;
    margin-bottom: 30px;
}
.littleico{
    padding-right: 10px;
    width: 40px;
}
.f8btn1{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    background: #9ABD3D;
    border-radius: 8px;
    border: 1px solid #9ABD3D;
    align-items: center;
    padding: 10px 140px;
    
}
.f8btn2{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    color: #9ABD3D;
    background: #FFFFFF;
    border-radius: 8px;
    border: 1px solid #9ABD3D;
    align-items: center;
    padding: 10px 95px;
}
.f8btn1:hover{
    color: #9ABD3D;
    background: #FFFFFF;
}
.f8btn2:hover{
    color: #FFFFFF;
    background: #9ABD3D;
    border: none;
}
.f8one{
    text-align: left;
}
.f8two{
    text-align: center;
    margin-left: -25px;
    padding: 0 30px;
}
.f8img1{
    width: 227px;
    height: 282px;
    border-radius: 10px;
}
.f8img2{
    width: 227px;
    height: 282px;
    border-radius: 0px;
    border-left: 2px solid #9ABD3D;
    border-right: 2px solid #9ABD3D;
    padding: 0 15px;

}
.f8img1t{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    color: #4F4F4F;
    margin: 20px 0;
}
.frame9{
    margin-bottom: 30px !important;
    text-align: center;
    margin-left: 123px;
    width: 100%;
    overflow: hidden;
    margin-top: 150px;
}
.f9one{
    width: 610px;
    height: 414px;
    box-shadow: 0px 4px 20px 2px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: #0080ab55 !important;
    background: url(../src/rectangle-14.png);
    background-size: cover !important;
    position: relative;
    margin-right: 50px !important;
}
.f9two{
    width: 610px;
    height: 414px;
    box-shadow: 0px 4px 20px 2px rgba(0, 0, 0, 0.1);
    background-color: #0080ab55 !important;
    border-radius: 10px;
    background: url(../src/rectangle-16.png);
    background-size: cover !important;
    position: relative;
    padding: 0 !important;
}
.inner91{
    width: 443px;
    height: 160px;
    background: #FFFFFF;
    border-radius: 0px 0px 0px 10px;
    text-align: left;
    padding: 25px 35px;
    position: absolute;
    bottom: 0;
    left: 0px;
}
.inner92{
    width: 443px;
    height: 160px;
    background: #FFFFFF;
    border-radius: 0px 0px 10px 0px;
    text-align: right;
    padding: 30px 35px;
    position: absolute;
    bottom: 0;
    right: 0;
}
.f9head1{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    color: #0081AB;
    line-height: 20px;

}
.f9text1{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    color: #000000;
    line-height: 15px;
}
.f9head2{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    color: #0081AB;
    line-height: 26px;
}
.f9text2{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    color: #000000;
    line-height: 18px;
}
.footer ul{
    list-style-type: none;
    
}
.footer{
    background-color: #0081AB;
    margin-top: 150px;
    padding: 40px 100px;
}
.footerhr{
    border-bottom: 2px solid #FFFFFF !important;
}
.footer2{
    display: flex;
    margin-top: 30px;
}
.foot2text{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.02em;
    color: #FFFFFF;

}
.foot2ico{
    display: flex;
    float: inline-end;
    margin-left: 670px;
}

.footer1{
    display: flex;
    margin-top: 80px;
    margin-bottom: 30px !important;
}
.footimg{
    width: 184px;
    height: 59px;
}
.footer1text1{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-top: 20px;
}
.footer1text2{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-top: 30px;
}
.footlink1{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    text-decoration: none;
}
.footlink{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    text-decoration: none;
}
.footer15{
    width: 525px;
    height: 271px;
    background: #9ABD3D;
    box-shadow: 0px 4px 20px 2px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-top: -160px !important;
    position: relative;
    margin-left: 40px;
    text-align: left;
}
.foot15inner{
    margin: 45px 22px;
}
.footer11{
    text-align: left;
    margin-left: 20px;
    
}
.footer12{
    margin-left: 60px;
    text-align: left;
    line-height: 35px;
}
.footer13{
    margin-left: 60px;
    text-align: left;
    line-height: 35px;
}
.footer14{
    margin-left: 60px;
    text-align: left;
    line-height: 35px;
}


.foot15text1{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}
.foot15text2{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-top: 25px;
    margin-bottom: 15px;
}
.footform{
    margin-bottom: -1px;
}
.foot15text3{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}
.footbtn{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    border: 2px solid #FFFFFF;
    box-shadow: 0px 4px 20px 2px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: transparent;
    padding: 10px 30px;
    text-align: center;
    margin-left: 10px;
    outline: none;
}
.footbtn:hover{
    background-color: #9bbd3d18;
    border: none;
}

.footinput{
    outline: none;
    border: none;
    border-bottom: 2px solid #FFFFFF;
    background-color: transparent;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    width: 322px;
    padding: 5px 10px;

}
.footinput::placeholder{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}


.f10one{
    display: flex;
}
.frame10{
    margin-top: 70px !important;
    margin-bottom: 50px;
    padding: 0 110px;
}
.f10onehead{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 45px;
    color: #9ABD3D;
}
.f10hr{
    border: 1px solid #0081AB;
    width: 100%;
    margin-left: 30px;
    margin-top: 22px !important;
}
.itemone{
    display: flex;
}
.simg1{
    width: 450px;
    height: 225px;
    margin: 0 20px;
}
.carousel-control-prev-icon{
    background: #9ABD3D;
    width: 50px;
    height: 50px;
    font-size: 30px !important;
    color: #FFFFFF;
    border-radius: 50%;
    text-align: center;
    border-radius: 50%;
}
.carousel-control-next-icon{
    background: #9ABD3D;
    width: 50px;
    height: 50px;
    font-size: 30px !important;
    color: #FFFFFF;
    border-radius: 50%;
    margin-top: 12px;
}

.gal1{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
}
.gal1head{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
}

.gal1text{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: #000000;
    margin-top: 20px;
}

.galsec1line{
    display: flex;
}
.galsec1hr{
    width: 100%;
    border: 1px solid #0081AB;
    margin: auto 0;
}
.galsec1head{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    color: #4F4F4F;
    margin-right: 60px;
}
.galsec2head{
    margin-left: 60px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    color: #4F4F4F;
}
.galsec1{
    margin: 70px 70px 0 70px;
}
.galsec2{
    margin: 50px 70px 50px 70px;
}
.galsec3{
    margin: 0 70px 50px 70px;
}
.galsec4{
    margin: 0 70px 50px 70px;
}
.galsec5{
    margin: 0 70px 50px 70px;
}
.galsec6{
    margin: 0 70px 0 70px;
}
.gimg1{
    width: 355px !important;
    height: 301px;
    border-radius: 10px;
}
.galimgsec1{
    margin: 0 auto !important;
    text-align: center;
}
.galimgsec2{
    margin: 0 auto !important;
    text-align: center;
    margin-right: 18px !important;
}
.about1{
    background: rgba(245, 113, 36, 0.05);
    height: 360px;
    margin-top: 70px;
    padding: 75px 0 50px 110px;
}
.about1head{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    color: #0081AB;
}
.about1text{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    color: #9ABD3D;
    margin-top: -10px;
    margin-bottom: 30px;
}
.about1btn{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0.01em;
    color: #FFFFFF;
    border-radius: 8px;
    background: #0081AB !important;
    border: none;
    padding: 10px 40px;
}
.about1btn:hover{
    background: #043b4d !important;
}

.about2{
    overflow: hidden;
    padding: 40px 110px;
}
.about2title{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    text-align: left;
    color: #0081AB;
}
.about2one{
    text-align: left;
    margin-top: 20px;
}
.about2row{
    margin-top: 20px;
}
.aonehead{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    color: #0081AB;
    margin-bottom: 30px;   
}
.aonetext1{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    letter-spacing: 0.5px;
    word-spacing: 1px;
    color: #000000;
    line-height: 22px;
    margin-bottom: 30px;
}
.about2img{
    width: 610px;
    height: 554px;
    border-radius: 10px;
    /* transform: matrix(-1, 0, 0, 1, 0, 0); */
}
.about2imgtext{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    text-align: center;
    margin-top: 20px;
}
.about2hr{
    margin-top: 80px;
    border: 1px solid #0081AB;
}


.about3{
    overflow: hidden;
    padding: 0 110px;
    margin-top: -20px !important;
    
}

.about3head{
    text-align: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
}
.about3one{
    text-align: left;
    margin-top: 50px;
}
.about3onetitle{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
}
.abou3onetext{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #000000;
}
.cont1{
    overflow: hidden;
}
.cont1head{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    text-align: center;
    margin-top: 60px;
}
.cont1row{
    margin-top: 50px;
    text-align: center;
    padding: 0 90px;
}
.cont1title{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    color: #0081AB;
    margin-top: 17px;
}
.cont1text{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.02em;
    color: #4F4F4F;   
    margin-top: -15px;
    line-height: 24px;
}
.redspan{
    color: #F57124;
}


.cont2{
    overflow: hidden;
    padding: 0 90px;
    margin-top: 10px;
}
.cont2row{
    margin-top: 180px;
}
.cont2img2{
    width: 525px;
    height: 722px;
    border-radius: 10px;
    /* position: relative; */
}
.cont2img1{
    position: absolute;
    margin-left: 1px;
    margin-top: -85px;
}
.cont2img3{
    position: absolute;
    margin-left: -85px;
    margin-top: 630px;
}
.formtitle{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    color: #0081AB;
    text-align: left;
    margin-bottom: 40px;
}
.cont2label{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.02em;
    color: #4F4F4F;
}
.cont2input{
    border: 2px solid #0081AB !important;
    border-radius: 10px;
    padding: 20px 30px !important;
    outline: none !important;
}
.cont2input::placeholder{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.02em;
    color: rgba(79, 79, 79, 0.5);
}
.cont2btn{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 19px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    text-transform: uppercase;
    background: #0081AB;
    border-radius: 8px;
    padding: 20px 255px;
}


.cont3{
    margin-top: 250px;
    padding: 0 110px;
}
.cont3head{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    color: #9ABD3D;
    margin-bottom: 30px;

}
.cont3btn{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    color: #4F4F4F;
    border: none !important;
    border-bottom: 2px solid #0081AB !important;
    padding: 20px 10px;
    border-radius: 0 !important;
}
.cont3text{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #4F4F4F;
}

.cont4{
    margin-top: 100px;
    text-align: center;
}


.prohead{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    text-align: left;
    margin-top: 50px;
    padding: 0 80px;
}
.probtns{
    margin-top: 50px;
    /* padding: 0px 0px 0px 80px; */
    text-align: center;
}
.pb1,.pb2,.pb3,.pb4,.pb5,.pb6,.pb7,.pb8,.pb9,.pb10,.pb11,.pb12,.pb13,.pb14,.pb15,.pb16,.pb17,.pb18,.pb19,.pb20,.pb21,.pb22,.pb23,.pb24,.pb25,.pb26{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #0081AB;
    text-align: center;
    border: none;
    outline: none;
    background-color: transparent;
    width: 55px;
    height: 74px;
    margin-left: -7px;
}
#active2{
    background: #0081AB !important;
    color: #FFFFFF !important;
}
.protables{
    padding: 0 73.5px;
}
.thead{
    background: #0081AB !important;
    border-bottom: 2px solid #D9D9D9 !important;
    /* padding: 40px 30px !important; */
}
.trhead{
    /* padding: 40px 0px !important; */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    text-align: left;
    color: #FFFFFF;
}
.trbody{
    border-bottom: 2px solid #D9D9D9;
}
.trbody3{
    border-bottom: 2px solid white;
}
.thhead1{
    padding: 15px 130px 15px 20px !important;
    border-right: 2px solid #D9D9D9;
}
.thhead2{
    padding: 15px 0px 15px 20px !important;
    border-right: 2px solid #D9D9D9;
}
.thhead3{
    padding: 15px 0px 15px 20px !important;
    border-right: 2px solid #D9D9D9;
}
.thhead4{
    padding: 15px 0px 15px 20px !important;
    /* border-right: 2px solid #D9D9D9; */
}

.thbody{
    padding: 15px 0px 15px 20px !important;
    border-right: 2px solid #D9D9D9;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    text-align: left;
    color: #4F4F4F;

}
.thbody4{
    padding: 15px 0px 15px 20px !important;
    
}
.tablelink{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    text-align: left;
    color: #9ABD3D;
    text-decoration: none;
}

/* product details */
.pddbodymain{
    padding: 0 80px;
    margin-top: 70px;
}

.pddhead{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
}
.pddhr{
    border-bottom: 3px solid #0081AB;
}
.pddone{
    margin-top: 30px;
}
.pddonetitle{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    text-align: left;
    color: #0081AB;
}
.theadp{
    background: #0081AB !important;
    border: none !important;
    border-bottom: 2px solid white !important;
}
.trheadp{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    text-align: left;
    color: #FFFFFF;
}
.trbodyp{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    text-align: left;
    color: #4F4F4F;
    border-bottom: 2px solid white !important;    
}
.trbodyp5{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    text-align: left;
    color: #4F4F4F;
    border-bottom: 2px solid #D9D9D9 !important;    
}
.thheadp1{
    padding: 20px 15px !important;
    border-right: 2px solid #D9D9D9;
}
.thheadp5{
    padding: 20px 15px !important;
    /* border-right: 2px solid #D9D9D9; */
}

.thbodyp1{
    padding: 10px 15px !important;
    border-right: 2px solid #D9D9D9;
}
.thbodyp5{
    padding: 10px 15px !important;
    /* border-right: 2px solid #D9D9D9; */
}







@media screen and (max-width: 950px) {
    
    .socialnav{
        gap: 10%;
    }
    .info{
        font-size: 10px;
        font-weight: 100 !important;   
    }
    .facebook1, .twitter1, .linkedin1, .instagram1{
        padding: 5px 7px;
        font-size: 10px;
        margin: 0 3px;
    }
    .logomain{
        width: 134px;
        height: 45px;
    }
    .sidetext{
        font-size: 14px;
        margin-left: 35px !important;
        letter-spacing: -0.5px;
        word-spacing: -0.1px;
        font-weight: 600;
    }
    .brandlogo{
        margin: 0;
        padding: 25px 10px;
    }
    .nav-link{
        margin: 0 !important;
        text-align: left;
    }
    .container-fluid{
        margin: 0 !important;
    }
    #active{
        border-bottom: none;
        color: #0081AB !important;
        font-weight: 700;
    }
    .collapse{
        margin-top: 10px;
        margin-left: 10px;
    }
    .navbar-toggler{
        border: none;
        outline: none !important;
    }
    .navbar-toggler-icon{
        width: 30px;
        outline: none !important;
    }
    .f3div{
        background: #0081AB;
        border-radius: 20px;
        height: 55px;
        margin-top: -25px !important;;
        margin: 0 30px;
    }
    .f3inner{
        font-size: 12px;
        padding-top: 17px;
    }
    .frame4{
        margin-top: 60px !important;
        margin: 0 auto;
    }
    .f44img{
        margin: 0 auto !important;        
    }
    .f444img{
        position: relative;
        width: 100%;
    }
    .f4img1{
        width: 300px;
        height: 400px;
    }
    .f4img2{
        margin-left: 10px;
        margin-top: -390px !important;
    }
    .imgef42{
        width: 310px !important;
    }
    .f4btn2{
        text-align: center;
    }
    .f4btn{
        padding: 10px 100px !important;
    }
    .f4body{
        letter-spacing: 0.5px;
        text-align: center;
    }
    .f4body1{
        letter-spacing: 0.2px;
        text-align: center;
    }
    .f4head{
        font-weight: 600;
        font-size: 20px;
        text-align: center;
        margin-bottom: 30px;
        margin-top: 50px;
    }
    .divider1{
        margin-top: 40px !important;
        margin-bottom: 20px !important;
        margin-left: 20px;
        margin-right: 20px;
    }
    .f5head{
        margin-top: 60px;
    }
    .f5text{
        font-size: 13px;
    }
    .divider2{
        margin-left: 10px;
        margin-right: 10px;
    }
    .divider3{
        margin-left: 10px;
        margin-right: 10px;
    }
    .extradiv3{
        margin-left: 45%;
    }
    .extradiv{
        margin-left: 45%;
    }
    .frame7{
        height: fit-content;
        padding: 50px 0;
        width: 100%;
        overflow: hidden;
        margin-top: 0;
    }
    .frame6{
        height: fit-content;
        padding: 50px 0;
        width: 100%;
        overflow: hidden;
        margin-top: 30px;
    }
    .f6one{
        text-align: center;
        /* position: absolute; */
        margin-top: 0px;
    }
    .f6two{
        text-align: center;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .f6three{
        text-align: center;
        margin-top: 0px;
    }
    .f7one{
        text-align: center;
        margin-top: 0px;
    }
    .f7two{
        text-align: center;
        margin-top: 0px;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .f7three{
        text-align: center;
        margin-top: 0px;
    }
    .f6imgs{
        width: 350px;
        height: 300px;
    }
    .f61text,.f62text,.f63text,.f71text,.f72text,.f73text{
        font-weight: 600;
        font-size: 19px;
        font-style: italic;
    }
    .frame8{
        margin: 0;
    }
    .f8one{
        text-align: center;
    }
    .f8head{
        font-size: 25px;
        margin: 30px 0;
        line-height: 35px;
    }
    .f8text{
        font-size: 12px;
        line-height: 25px;
        font-weight: 100;
        margin-bottom: 40px;
    }
    .f8btn11{
        text-align: center;
        margin-bottom: 20px;
    }
    .f8btn22{
        text-align: center;
        margin-bottom: 20px;
    }
    .littleico{
        padding-right: 10px;
        width: 35px;
    }
    .f8btn1{
        font-size: 15px;
        padding: 10px 80px;
    }
    .f8btn2{
        font-size: 15px;
        padding: 10px 43px;
    }
    .f8two{
        text-align: center;
        margin: 0;
        padding: 0;
        margin-top: 40px !important;
    }
    .f8img1{
        width: 260px;
    }
    .f8img2{
        width: 267px;
        border-radius: 0px;
        border: none;
        padding: 15px 0;
    
    }
    .frame9{
        margin-bottom: 30px !important;
        margin-left: 0px;
    }
    .f9one{
        width: 320px;
        height: 314px;
        margin: 0 auto !important;
        margin-bottom: 50px !important;
    }
    .f9two{
        width: 320px;
        height: 314px;
        margin: 0 auto !important;
    }
    .inner91{
        width: 320px;
        height: 100px;
        background: #ffffff5b;
        border-radius: 0px 0px 10px 10px;
        padding: 15px 55px;;
    }
    .inner92{
        width: 320px;
        height: 100px;
        background: #ffffff5b;
        border-radius: 0px 0px 10px 10px;
        padding: 20px 55px;
    }
    .f9head1{
        font-size: 14px;
        color: #0081AB;
        line-height: 10px;
    
    }
    .f9text1{
        font-weight: 500;
        font-size: 6px;
        color: #000000;
        line-height: 9px;
        margin-top: -9px;
    }
    .f9head2{
        font-size: 14px;
        color: #0081AB;
        line-height: 10px;
    }
    .f9text2{
        font-weight: 500;
        font-size: 8px;
        color: #000000;
        line-height: 10px;
    }
    .footer{
        padding: 10px 0;
        margin: 0;
        width: 100%;
        overflow: hidden;
        text-align: center;
    }
    .footer15{
        display: none;
    }
    .footer11{
        text-align: center;
        margin-left: 0px;
        border-bottom: 1px solid #ffffff7b;
        
    }
    .footer12{
        margin-left: 0px;
        text-align: center;
        line-height: 25px;
        margin-top: 20px;
    }
    .footer13{
        margin-left: 0px;
        text-align: center;
        line-height: 25px;
        margin-top: 30px;
    }
    .footer14{
        margin-left: 0px;
        text-align: center;
        line-height: 25px;
        margin-top: 30px;
    }
    .footer1text1{
        margin-top: 7px;
    }
    .footer1text2{
        margin-top: 7px;
    }
    .footer1{
        display: block;
        /* margin-top: 80px;
        margin-bottom: 30px !important; */
        margin: 0 auto !important;
    }
    .footlink1{
        padding: 0 !important;
        margin: 0 !important;
    }
    .footlink{
        padding: 0 !important;
        margin: 0 !important;
    }
    .footlih{
        margin-left: -30px;
    }
    .footlit{
        margin-left: -30px;
    }


    .footer2{
        display: block;
        margin: 0;
        padding: 0;
    }
    .foot2text{
        font-size: 10px !important;
        font-weight: 100;
        margin-top: 10px !important;
    }
    .foot2ico{
        display: none;
    }
    .footerhr{
        margin: 0;
    }
    .frame10{
        margin-top: 50px !important;
        padding: 0 20px;
    }
    .f10onehead{
        font-size: 30px;
    }
    .simg1{
        width: 75px;
        height: 95px;
        margin: 0 5px;
    }
    .carousel-control-prev-icon{
        width: 40px;
        height: 40px;
        font-size: 20px !important;
        padding-top: 5px;
    }
    .carousel-control-next-icon{
        width: 40px;
        height: 40px;
        font-size: 20px !important;
        padding-top: 5px;
    }
    .searchboxdiv{
        display: flex;
        padding: 10px 10px;
    }
    .galsec1{
        margin: 0px 10px 0 10px;
    }
    .galsec2{
        margin: 0px 10px 0 10px;
    }
    .galsec3{
        margin: 0px 10px 0 10px;
    }
    .galsec4{
        margin: 0px 10px 0 10px;
    }
    .galsec5{
        margin: 0px 10px 0 10px;
    }
    .galsec6{
        margin: 0px 10px 0 10px;
    }
    .galsec1head{
        margin-right: 10px;
        font-size: 20px;
    }
    .galsec2head{
        margin-left: 10px;
        font-size: 20px;
    }
    .gimg1{
        width: 305px !important;
        height: 301px;
    }
    .galimgsec1{
        margin: 0 auto !important;
        text-align: center;
    }
    .gal1head{
        font-size: 30px;
        margin: 0 10px;
        line-height: 40px;
        padding-bottom: 20px;
        margin-top: -50px !important;
    }
    .gal1text{
        font-size: 12px;
        margin: 0 10px;
    }
    .about1{
        margin-top: 50px;
        padding: 25px 0 0px 10px;
        height: 260px;
    }
    .about1head{
        font-size: 25px;
    }
    .about1text{
        font-size: 20px;
        margin-top: 20px;
        margin-bottom: 30px;
    }
    .about1btn{
        margin-top: 10px;
        font-size: 15px;
    }
    .about2{
        overflow: hidden;
        padding: 20px 15px;
    }
    .about2title{
        text-align: left;
    }
    .about2one{
        text-align: left;
        margin-top: 20px;
    }
    .aonehead{
        font-size: 20px; 
    }
    .aonetext1{
        font-weight: 600;
        font-size: 15px;
    }
    .about2two{
        text-align: center;
    }
    .about2img{
        width: 310px;
        height: 354px;
    }
    .about2imgtext{
        font-size: 20px;
        text-align: center;
    }
    .about2hr{
        margin-top: 30px;
        border: 1px solid #0081AB;
    }
    .about3{
        overflow: hidden;
        padding: 0 10px;
        margin-top: 5px !important;
        margin-bottom: 50px;
        
    }
    
    .about3head{
        text-align: center;
        font-size: 25px;
        margin-bottom: 30px;
    }
    .about3one{
        text-align: center;
        margin-top: 30px;
    }
    .about3onetitle{
        font-size: 35px;
    }
    .abou3onetext{
        font-weight: 600;
        font-size: 10px;
        line-height: 20px;
    }

    .cont1head{
        font-size: 20px;
        margin-top: 50px;
    }
    .cont1row{
        margin-top: 20px;
        padding: 0 0px;
    }
    .cont1one{
        margin-top: 30px;
    }


    .cont2{
        overflow: hidden;
        padding: 0 20px;
        margin-top: 10px;
    }
    .cont2row{
        margin-top: 30px;
    }
    .cont2imgs{
        display: none;
    }
    .formtitle{
        font-size: 25px;
        text-align: center;
        margin-bottom: 40px;
    }
    .cont2input{
        border: 1px solid #0081AB !important;
        padding: 15px 30px !important;
    }
    .cont2input::placeholder{
        font-size: 13px;
    }
    .cont2btn{
        margin-top: -20px;
        /* padding: 10px 70px; */
        padding: 10px 0;
        width: 100%;
    }
    .cont2btndiv{
        text-align: center;
    }
    
    
    .cont3{
        margin-top: 100px;
        padding: 0 20px;
    }
    .cont3head{
        text-align: center;
        font-size: 25px;
        margin-bottom: 25px;
    
    }
    .cont3btn{
        font-size: 13px;
    }
    .cont3text{
        font-size: 10px;
        line-height: 20px;
    }
    
    .cont4{
        margin-top: 80px;
        margin-bottom: 50px;
        padding: 0 20px;
        text-align: center;
        width: 100%;
    }
    .map{
        width: 100%;
    }
    
    .prohead{
        text-align: center;
        margin-top: 50px;
    }
    .probtns{
        margin-top: 50px;
        padding: 0px 10px;
        text-align: center;
    }
    .pb1,.pb2,.pb3,.pb4,.pb5,.pb6,.pb7,.pb8,.pb9,.pb10,.pb11,.pb12,.pb13,.pb14,.pb15,.pb16,.pb17,.pb18,.pb19,.pb20,.pb21,.pb22,.pb23,.pb24,.pb25,.pb26{
        font-size: 18px;
        width: 55px;
        height: 54px;
        margin-left: -7px;
        border-radius: 10px;
    }
    #active2{
        background: #0081AB !important;
        color: #FFFFFF !important;
    }
    .protables{
        padding: 0 20px;
        margin-top: 50px;
    }
    .thead{
        background: #0081AB;
        border-bottom: 2px solid #D9D9D9;
        /* padding: 40px 30px !important; */
    }
    .trhead{
        font-size: 14px;
        text-align: center;
    }
    .thhead1{
        padding: 10px 0px !important;
        border-right: 2px solid #D9D9D9;
    }
    .thhead2{
        padding: 10px 0px !important;
        border-right: 2px solid #D9D9D9;
    }
    .thhead3{
        padding: 10px 0px !important;
        border-right: 2px solid #D9D9D9;
    }
    .thhead4{
        padding: 10px 10px !important;
        /* border-right: 2px solid #D9D9D9; */
    }
    
    .thbody{
        padding: 10px 0px !important;
        font-size: 11px;
        text-align: center; 
    }
    .thbody4{
        padding: 10px 10px !important;
        
    }
    .tablelink{
        font-size: 11px;
        text-align: center;
    }
    /* product details */


    .pddbodymain{
        padding: 0 10px;
        margin-bottom: 90px;
    }
    
    .pddhead{
        font-size: 25px;
        line-height: 34px;
    }
    .pddhr{
        border-bottom: 3px solid #0081AB;
    }
    .pddone{
        margin-top: 30px;
    }
    .pddonetitle{
        font-size: 25px;
        text-align: center;
    }
    .theadp{
        background: #0081AB !important;
        border: none !important;
        border-bottom: 2px solid white !important;
    }
    .trheadp{
        font-size: 12px;
        text-align: center;
    }
    .trbodyp{
        font-size: 10px;
        text-align: center;
    }
    .trbodyp5{
        font-size: 10px;
        text-align: center;    
    }
    .thheadp1{
        padding: 10px 5px !important;
        border-right: 2px solid #D9D9D9;
    }
    .thheadp5{
        padding: 10px 5px !important;
        /* border-right: 2px solid #D9D9D9; */
    }
    
    .thbodyp1{
        padding: 5px 5px !important;
        border-right: 2px solid #D9D9D9;
    }
    .thbodyp5{
        padding: 5px 5px !important;
        /* border-right: 2px solid #D9D9D9; */
    }
    .scroll{
        right: 30px;
    }
}

@media screen and (min-width: 950px) and (max-width: 1050px) {
    .socialnav{
        gap: 50%;
    }
    .info{
        font-weight: 400;
        font-size: 13px;
    }
    .logomain{
        width: 134px;
        height: 45px;
    }
    .sidetext{
        font-size: 16px;
        margin-left: 435px !important;
        letter-spacing: 0.5px;
        word-spacing: 0.1px;
        font-weight: 600;
    }
    .brandlogo{
        margin: 0;
        padding: 25px 60px;
    }
    .nav-link{
        margin: 0 20px;
        text-align: center;
        letter-spacing: 0.5px;
    }
    .container-fluid{
        margin: 0 100px !important;
    }
    .f3div{
        height: 70px;
        text-align: center;
        margin-top: -25px !important;
        margin: 0 120px;
    }
    .f3inner{
        font-size: 20px;
        padding-top: 20px;
    }
    .frame4{
        margin: 0;
        margin-top: 60px;
    }
    .f4text{
        margin-left: 60px;
        margin-top: 30px;
    }
    .f4body{
        font-weight: 500;
        font-size: 11px;
        letter-spacing: 0.2px;
    }
    .f4body1{
        font-weight: 400;
        font-size: 11px;
        margin-top: -10px;
        letter-spacing: -0.1px;
    }
    .f4head{
        font-weight: 600;
        font-size: 20px;
        margin-bottom: 40px;
    }
    .divider1{
        margin-top: 40px !important;
        margin-bottom: 20px !important;
        margin-left: 30px;
        margin-right: 30px;
    }
    .divider2{
        margin-left: 30px;
        margin-right: 30px;
    }
    .divider3{
        margin-left: 30px;
        margin-right: 30px;
    }
    .extradiv3{
        margin-left: 48%;
    }
    .extradiv{
        margin-left: 48%;
    }
    .frame6{
        /* overflow: hidden; */
        margin-top: 150px;
        padding: 0 10px;
        /* position: relative; */
    }
    .frame7{
        margin-top: 150px;
        padding: 0 10px;
    }
    .f6imgs{
        width: 320px;
    }
    .frame8{
        margin: 70px 0px 60px 20px;
    }
    .f8head{
        font-size: 22px;
        margin: 30px 0;
        line-height: 30px;
    }
    .f8text{
        font-size: 11px;
        line-height: 20px;
        margin-bottom: 40px;
    
    }
    .f8btn11{
        text-align: left;
        margin-bottom: 30px;
    }
    .f8btn22{
        text-align: left;
        margin-bottom: 0px;
    }
    .littleico{
        padding-right: 10px;
        width: 30px;
    }
    .f8btn1{
        font-size: 14px;
        padding: 10px 78px;
        
    }
    .f8btn2{
        font-size: 14px;
        padding: 10px 45px;
    }
    .f8one{
        margin-left: 20px;
        overflow: hidden !important;
    }
    .f8two{
        text-align: center;
        margin-left: -50px;
        padding: 0 50px 0 0;
        overflow: hidden !important;
    }
    .f8img1{
        width: 180px;
        height: 202px;
        border-radius: 10px;
    }
    .f8img2{
        width: 180px;
        height: 202px;
        border-radius: 0px;
        border-left: 2px solid #9ABD3D;
        border-right: 2px solid #9ABD3D;
        padding: 0 5px;
        margin-left: -50px;
        margin-right: -50px;
    
    }
    .f8img1t{
        font-size: 13px;
    }
    .f9one{
        margin: 0 auto !important;
        margin-bottom: 50px !important;
    }
    .f9two{
        margin: 0 auto !important;
    }
    .frame9{
        margin-bottom: 30px !important;
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 70px;
        overflow: hidden;
    }
    .footer15{
        display: none;
    }
    .footer{
        margin: 0;
        padding: 10px 10px;
        overflow: hidden;
        width: 100%;
    }
    .footer1{
        margin: 10px;
    }
    .foot2text{
        font-size: 12px !important;
        font-weight: 100;
        margin-top: -10px !important;
    }
    .foot2ico{
        margin-left: 450px;
        margin-top: -10px !important;
    }
    .simg1{
    width: 300px;
    height: 125px;
    margin: 0 20px;
    }
    .carousel-control-prev-icon{
       width: 40px;
        height: 40px;
        font-size: 20px !important;
        padding-top: 5px;
    }
    .carousel-control-next-icon{
        width: 40px;
        height: 40px;
        font-size: 20px !important;
        padding-top: 5px;
    }
    
    .gimg1{
        width: 240px !important;
        height: 265px;
    }
    .galsec1{
        margin: 0px 30px 0 30px;
    }
    .galsec2{
        margin: 0px 30px 0 30px;
    }
    .galsec3{
        margin: 0px 30px 0 30px;
    }
    .galsec4{
        margin: 0px 30px 0 30px;
    }
    .galsec5{
        margin: 0px 30px 0 30px;
    }
    .galsec6{
        margin: 0px 30px 0 30px;
    }
    .galimgsec1{
        margin: 0 auto !important;
        text-align: center;
        margin-left: -15px !important;
    }
    .galimgsec2{
        margin: 0 auto !important;
        text-align: center;
        margin-right: 15px !important;
    }
    .about1{
        padding: 75px 0 0px 50px;
    }
    .about2{
        overflow: hidden;
        padding: 20px 50px;
    }
    .about2title{
        text-align: left;
    }
    .about2one{
        text-align: left;
        margin-top: 20px;
    }
    .aonehead{
        font-size: 20px; 
    }
    .aonetext1{
        font-weight: 600;
        font-size: 10px;
        line-height: 17px;
    }
    .about2two{
        text-align: center;
    }
    .about2img{
        width: 430px;
        height: 454px;
    }
    .about2imgtext{
        font-size: 20px;
        text-align: center;
    }
    .about2hr{
        margin-top: 30px;
        border: 1px solid #0081AB;
    }
    .about3{
        overflow: hidden;
        padding: 0 110px;
        margin-top: -20px !important;
        margin-bottom: 80px;   
    }
    
    .abou3onetext{
        font-weight: 500;
        font-size: 11px;
        line-height: 20px;
    }
    .cont1row{
        padding: 0 40px;
    }
    .cont2{
        overflow: hidden;
        padding: 0 20px;
        margin-top: 10px;
    }
    .cont2row{
        margin-top: 80px;
    }
    .cont2img2{
        width: 425px;
        height: 670px;
        border-radius: 10px;
    }
    .cont2img1{
        display: none;
    }
    .cont2img3{
        display: none;
    }
    .cont2btndiv{
        margin-top: -20px;
        text-align: center;
    }
    .cont2btn{
        font-size: 19px;
        padding: 10px 160px;
    }
    
    
    .cont3{
        margin-top: 160px;
        padding: 0 30px;
    }
    .cont3btn{
        font-size: 15px;
    }
    .cont3text{
        font-size: 12px;
    }
    
    .cont4{
        margin-top: 100px;
        margin-bottom: 80px;
        padding: 0 30px;
        text-align: center;
        /* width: 100%; */
    }
    .map{
        width: 100%;
    }
    .prohead{
        padding: 0 30px;
    }
    .probtns{
        margin-top: 50px;
        /* padding: 0px 0px 0px 80px; */
        padding: 0 20px;
        text-align: center;
    }
    .pb1,.pb2,.pb3,.pb4,.pb5,.pb6,.pb7,.pb8,.pb9,.pb10,.pb11,.pb12,.pb13,.pb14,.pb15,.pb16,.pb17,.pb18,.pb19,.pb20,.pb21,.pb22,.pb23,.pb24,.pb25,.pb26{
        width: 55px;
        height: 64px;
    }
    .protables{
        padding: 0 20px;
        margin-top: 50px;
    }

    .pddbodymain{
        padding: 0 30px;
        margin-bottom: 90px;
    }
    
    
}
@media screen and (min-width: 600px) and (max-width: 700px) {
    .sidetext{
        font-size: 15px;
        margin-left: 235px !important;
        letter-spacing: 0.5px;
        word-spacing: 0.1px;
        font-weight: 600;
    }
    .brandlogo{
        padding: 25px 50px;
    }
    .socialnav{
        gap: 40%;
    }
    .frame9{
        width: 100% !important;
        margin: 0 auto;
        padding-top: 50px;
    }
    .f9one{
        width: 320px;
        height: 314px;
        margin: 0 auto !important;
        margin-bottom: 50px !important;
    }
    .f9two{
        width: 320px;
        height: 314px;
        margin: 0 auto !important;
    }
    .footer15{
        display: none;
    }
    .frame10{
        margin-top: 50px !important;
        padding: 0 20px;
    }
    .f10onehead{
        font-size: 30px;
    }
    .simg1{
        width: 200px;
        height: 125px;
        margin: 0 10px;
    }
    .carousel-control-prev-icon{
        width: 40px;
        height: 40px;
        font-size: 20px !important;
        padding-top: 5px;
    }
    .carousel-control-next-icon{
        width: 40px;
        height: 40px;
        font-size: 20px !important;
        padding-top: 5px;
    }
    .about1{
        padding: 50px 0 0px 50px;
    }
     
}